@{
    Layout = null;
}

<div class="partialWrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-success btn-block" href="#/chartEmployeesPerJob">Funcionários X cargo</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-success btn-block" href="#/chartEmployeesPerAge">Funcionários X nascimento</a>
            </div>
        </div>
    </div>


    <div class="text-center">
        <h1><small>Em construção</small></h1>
    </div>

</div>
