@{
    Layout = null;
}

<div class="partialWrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-success btn-block" href="#/chartEmployeesPerAge">Funcionários X nascimento</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-success btn-block" href="#/chartEmployeesPerPerfil">Funcionários X perfil</a>
            </div>
        </div>
    </div>


    <canvas id="bar" class="chart chart-line" chart-data="data" chart-labels="labels" chart-options="chartOptions" height="45" width="100"> 
        gráfico vai aqui
    </canvas>

</div>

